@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}

/* Feedbacks Carousel */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  display: inline-block;
  border-radius: 50%;
  opacity: 1 !important;
  background-color: #eee !important;
}

.swiper-pagination-bullet-active {
  background-color: #969696 !important;
}

/* Mobile Side Menu */
.hamburger {
  min-height: 24px;
  transition: transform 0.3s ease-in-out;
}

.hamburger line {
  /* `currentColor` means inherit color from the text color */
  stroke: #fff;
  stroke-width: 3;
  transition: transform 0.3s ease-in-out;
}

.open .hamburger {
  transform: scale(0.7);
}

/* rotate the top line */
.open #top {
  transform: translate(6px, 0px) rotate(45deg);
}

/* hide the middle */
.open #middle {
  opacity: 0;
}

/* rotate the bottom line */
.open #bottom {
  transform: translate(-12px, 9px) rotate(-45deg);
}

.radial-bg {
  background: radial-gradient(
      50.22% 45.81% at 23.51% -1.56%,
      rgba(152, 156, 255, 0.144) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      69.9% 32.5% at 27.76% 82.49%,
      rgba(175, 168, 255, 0.122) 0%,
      rgba(0, 0, 0, 0) 100%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(38.54deg, #0f1a29 -58.14%, #080e17 32.07%, #0f1a29 106.6%);
}

.text-linear {
  background: linear-gradient(90deg, #00d1ff -3.9%, #405fff 109.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

textarea {
  resize: none;
}

.text-with-shadow {
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background: linear-gradient(90deg, #00d1ff -3.9%, #405fff 109.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bordered-font {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* For the modal */
.go2072408551 {
  max-width: 80vw !important;
}
